In [1]:
# For numpy Arrays 
import numpy as np

# For using pandas DataFrame
import pandas as pd

# For plotting charts
import matplotlib.pyplot as plt
import seaborn as sns

# For plotting in the current window
%matplotlib inline

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
df = pd.read_csv('train.csv')

In [4]:
df.head()

,Flight_ID,Airline,Departure_City,Arrival_City,Distance,Departure_Time,Arrival_Time,Duration,Aircraft_Type,Number_of_Stops,Day_of_Week,Month_of_Travel,Holiday_Season,Demand,Weather_Conditions,Passenger_Count,Promotion_Type,Fuel_Price,Flight_Price
0,F1,Airline B,NaN,Greenshire,8286.0,8:23,20:19,11.94,Boeing 787,0,Wednesday,December,Summer,Low,Rain,240,Special Offer,0.91,643.93
1,F2,Airline C,Leonardland,New Stephen,2942.0,20:28,1:45,5.29,Airbus A320,0,Wednesday,March,Spring,Low,Rain,107,None,1.08,423.13
2,F3,Airline B,South Dylanville,Port Ambermouth,2468.0,11:30,15:54,4.41,Boeing 787,1,Sunday,September,Summer,High,Cloudy,131,NaN,0.52,442.17
3,F4,NaN,Blakefort,Crosbyberg,3145.0,20:24,1:21,4.96,Boeing 787,0,Sunday,February,Fall,Low,Cloudy,170,Discount,0.71,394.42
4,F5,Airline B,Michaelport,Onealborough,5558.0,21:59,6:04,8.09,Boeing 737,1,Thursday,January,None,NaN,Clear,181,None,1.09,804.35

In [5]:
df.tail()

,Flight_ID,Airline,Departure_City,Arrival_City,Distance,Departure_Time,Arrival_Time,Duration,Aircraft_Type,Number_of_Stops,Day_of_Week,Month_of_Travel,Holiday_Season,Demand,Weather_Conditions,Passenger_Count,Promotion_Type,Fuel_Price,Flight_Price
44995,F44996,Airline B,Port Donaldland,Maryshire,3884.0,21:49,3:31,5.70,Boeing 787,1,Sunday,May,Fall,Low,Clear,263,Discount,0.69,417.18
44996,F44997,Airline A,East Patriciafurt,East Vickiberg,9191.0,22:50,11:48,12.97,Airbus A320,1,Friday,December,Fall,Low,Snow,168,Discount,0.74,687.03
44997,F44998,Airline C,Monicaton,West Johnburgh,6757.0,2:33,11:21,8.81,Boeing 777,1,Wednesday,October,Fall,Low,Snow,244,Special Offer,0.83,547.39
44998,F44999,Airline B,Turnerburgh,Gabrielville,3587.0,13:25,19:37,6.21,Boeing 737,0,Saturday,June,None,Medium,Cloudy,121,Special Offer,0.60,487.67
44999,F45000,Airline B,Harrisport,Chelsealand,4890.0,3:37,11:19,7.70,Airbus A320,0,Monday,December,Winter,Low,Rain,91,None,0.95,532.92

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Flight_ID           45000 non-null  object
 1   Airline             41427 non-null  object
 2   Departure_City      44660 non-null  object
 3   Arrival_City        44814 non-null  object
 4   Distance            44909 non-null  float64
 5   Departure_Time      45000 non-null  object
 6   Arrival_Time        45000 non-null  object
 7   Duration            45000 non-null  float64
 8   Aircraft_Type       44957 non-null  object
 9   Number_of_Stops     45000 non-null  int64
 10  Day_of_Week         44775 non-null  object
 11  Month_of_Travel     44733 non-null  object
 12  Holiday_Season      45000 non-null  object
 13  Demand              44683 non-null  object
 14  Weather_Conditions  44698 non-null  object
 15  Passenger_Count     45000 non-null  int64
 16  Promotion_Type      44597 non-null  object
 17  Fuel_Price          44910 non-null  float64
 18  Flight_Price        45000 non-null  float64
dtypes: float64(4), int64(2), object(13)
memory usage: 6.5+ MB

### I. Exploratory Detail Analysis

In [7]:
df.isnull().sum()

Flight_ID                0
Airline               3573
Departure_City         340
Arrival_City           186
Distance                91
Departure_Time           0
Arrival_Time             0
Duration                 0
Aircraft_Type           43
Number_of_Stops          0
Day_of_Week            225
Month_of_Travel        267
Holiday_Season           0
Demand                 317
Weather_Conditions     302
Passenger_Count          0
Promotion_Type         403
Fuel_Price              90
Flight_Price             0
dtype: int64

In [8]:
(df.isnull().sum()/df.shape[0]) * 100

Flight_ID             0.000000
Airline               7.940000
Departure_City        0.755556
Arrival_City          0.413333
Distance              0.202222
Departure_Time        0.000000
Arrival_Time          0.000000
Duration              0.000000
Aircraft_Type         0.095556
Number_of_Stops       0.000000
Day_of_Week           0.500000
Month_of_Travel       0.593333
Holiday_Season        0.000000
Demand                0.704444
Weather_Conditions    0.671111
Passenger_Count       0.000000
Promotion_Type        0.895556
Fuel_Price            0.200000
Flight_Price          0.000000
dtype: float64

In [9]:
df.describe()

,Distance,Duration,Number_of_Stops,Passenger_Count,Fuel_Price,Flight_Price
count,44909.000000,45000.000000,45000.000000,45000.000000,44910.000000,45000.000000
mean,5482.238727,7.852555,0.665667,174.928822,0.850192,574.606270
std,2594.847860,3.292880,0.750578,72.372980,0.201736,160.239344
min,1000.000000,1.280000,0.000000,50.000000,0.500000,173.350000
25%,3230.000000,5.040000,0.000000,112.000000,0.680000,455.297500
50%,5476.000000,7.840000,1.000000,175.000000,0.850000,565.750000
75%,7725.000000,10.650000,1.000000,238.000000,1.020000,679.692500
max,10000.000000,14.450000,3.000000,300.000000,1.200000,1261.640000

In [10]:
print(df['Airline'].unique())
df['Airline'].value_counts()

['Airline B' 'Airline C' nan 'Airline A']

Airline A    13863
Airline C    13809
Airline B    13755
Name: Airline, dtype: int64

In [11]:
df['Departure_City'].unique()

array([nan, 'Leonardland', 'South Dylanville', ..., 'Reillybury',
       'Lake Katiestad', 'East Patriciafurt'], dtype=object)

In [12]:
df['Arrival_City'].unique()

array(['Greenshire', 'New Stephen', 'Port Ambermouth', ...,
       'South Susanville', 'East Vickiberg', 'Gabrielville'], dtype=object)

In [13]:
df['Distance'].unique()

array([8286., 2942., 2468., ..., 6392., 3868., 6443.])

In [14]:
df['Aircraft_Type'].unique()

array(['Boeing 787', 'Airbus A320', 'Boeing 737', nan, 'Boeing 777',
       'Airbus A380'], dtype=object)

In [15]:
df['Day_of_Week'].unique()

array(['Wednesday', 'Sunday', 'Thursday', 'Tuesday', 'Friday', 'Monday',
       'Saturday', nan], dtype=object)

In [16]:
df['Month_of_Travel'].unique()

array(['December', 'March', 'September', 'February', 'January', 'May',
       'June', 'July', 'August', nan, 'April', 'October', 'November'],
      dtype=object)

In [17]:
print(df['Demand'].value_counts())
df['Demand'].unique()

Low       28946
Medium     8954
High       6783
Name: Demand, dtype: int64

array(['Low', 'High', nan, 'Medium'], dtype=object)

In [18]:
print(df['Weather_Conditions'].value_counts())
df['Weather_Conditions'].unique()

Cloudy    11409
Snow      11148
Rain      11093
Clear     11048
Name: Weather_Conditions, dtype: int64

array(['Rain', 'Cloudy', 'Clear', 'Snow', nan], dtype=object)

In [19]:
print(df['Promotion_Type'].value_counts())
df['Promotion_Type'].unique()

Special Offer    14896
Discount         14889
None             14812
Name: Promotion_Type, dtype: int64

array(['Special Offer', 'None', nan, 'Discount'], dtype=object)

In [20]:
df['Holiday_Season'].unique()

array(['Summer', 'Spring', 'Fall', 'None', 'Winter'], dtype=object)

In [21]:
print(df['Fuel_Price'].unique())

[0.91 1.08 0.52 0.71 1.09 1.15 1.03 1.14 0.85 0.8  1.11 0.54 1.02 1.07
 0.97 0.9  0.82 1.06 0.76 0.83 0.93 0.59 0.98 0.81 0.65 0.57 0.94 0.61
 0.96 1.1  1.12 0.92 1.18 0.77 1.05 0.73 1.16 0.63 0.66 0.69 0.62 0.79
 0.6  0.51 0.74 1.2  0.89 0.75 0.53 1.01 1.19 0.72 0.88 0.7  1.04 0.87
 0.64 0.86 0.78 1.   0.99 0.84 0.68 1.13 0.55 0.95 0.67 0.56 1.17 0.58
 0.5   nan]

In [22]:
df['Number_of_Stops'].unique()

array([0, 1, 3], dtype=int64)

### II. Treating Missing Values

In [23]:
df.isnull().sum()

Flight_ID                0
Airline               3573
Departure_City         340
Arrival_City           186
Distance                91
Departure_Time           0
Arrival_Time             0
Duration                 0
Aircraft_Type           43
Number_of_Stops          0
Day_of_Week            225
Month_of_Travel        267
Holiday_Season           0
Demand                 317
Weather_Conditions     302
Passenger_Count          0
Promotion_Type         403
Fuel_Price              90
Flight_Price             0
dtype: int64

In [24]:
df['Airline'] = df['Airline'].fillna('Unknown')
df['Aircraft_Type'] = df['Aircraft_Type'].fillna('Unknown')
df['Day_of_Week'] = df['Day_of_Week'].fillna(df['Day_of_Week'].mode()[0])
df['Month_of_Travel'] = df['Month_of_Travel'].fillna(df['Month_of_Travel'].mode()[0])
df['Demand'] = df['Demand'].fillna(df['Demand'].mode()[0])
df['Weather_Conditions'] = df['Weather_Conditions'].fillna(df['Weather_Conditions'].mode()[0])
df['Promotion_Type'] = df['Promotion_Type'].fillna(df['Promotion_Type'].mode()[0])

In [25]:
df['Departure_City'] = df['Departure_City'].fillna('Unknown')
df['Arrival_City'] = df['Arrival_City'].fillna('Unknown')

In [26]:
df['Distance'] = df['Distance'].fillna(round(df['Distance'].median(),1))
df['Fuel_Price'] = df['Fuel_Price'].fillna(round(df['Fuel_Price'].median(),2))

In [27]:
df.isnull().sum()

Flight_ID             0
Airline               0
Departure_City        0
Arrival_City          0
Distance              0
Departure_Time        0
Arrival_Time          0
Duration              0
Aircraft_Type         0
Number_of_Stops       0
Day_of_Week           0
Month_of_Travel       0
Holiday_Season        0
Demand                0
Weather_Conditions    0
Passenger_Count       0
Promotion_Type        0
Fuel_Price            0
Flight_Price          0
dtype: int64

### III. Encoding Features

In [28]:
Airline_mapper = { 'Airline A': 0, 'Airline B': 1, 'Airline C': 2, 'Unknown': 3}

AircraftType_mapper = { 'Boeing 787': 0, 'Airbus A320': 1, 'Boeing 737': 2, 'Boeing 777': 3, 'Airbus A380': 4, 'Unknown': 5}

DayOfWeek_mapper = {'Wednesday':3, 'Sunday': 0, 'Thursday': 4, 'Tuesday': 2, 'Friday': 5, 'Monday': 1, 'Saturday': 6}

MonthOfTravel_mapper = {'December': 11, 'March': 2, 'September': 8, 'February': 1, 'January': 0, 'May': 4, 'June': 5, 
                        'July': 6, 'August': 7, 'April': 3, 'October': 9, 'November': 10}

Demand_mapper = {'Low': 0, 'High': 2, 'Medium': 1}

Weather_mapper = {'Rain': 0, 'Cloudy': 1, 'Clear': 2, 'Snow': 3}

PromotionType_mapper = {'Special Offer': 0, 'None': 2, 'Discount': 1}

HolidaySeason_mapper = {'Summer': 1, 'Spring' :4, 'Fall': 2, 'None': 0, 'Winter': 3}

In [29]:
df['Promotion_Type'] = df['Promotion_Type'].replace(PromotionType_mapper)
df['Weather_Conditions'] = df['Weather_Conditions'].replace(Weather_mapper)
df['Demand'] = df['Demand'].replace(Demand_mapper)
df['Month_of_Travel'] = df['Month_of_Travel'].replace(MonthOfTravel_mapper)
df['Day_of_Week'] = df['Day_of_Week'].replace(DayOfWeek_mapper)
df['Aircraft_Type'] = df['Aircraft_Type'].replace(AircraftType_mapper)
df['Airline'] = df['Airline'].replace(Airline_mapper)
df['Holiday_Season'] = df['Holiday_Season'].replace(HolidaySeason_mapper)

### III. Feature Engineering

In [30]:
from datetime import datetime
df['DepartureHour'] = pd.to_datetime(df['Departure_Time']).dt.hour
df['DepartureMinute'] = pd.to_datetime(df['Departure_Time']).dt.minute

In [31]:
from datetime import datetime
df['ArrivalHour'] = pd.to_datetime(df['Arrival_Time']).dt.hour
df['ArrivalMinute'] = pd.to_datetime(df['Arrival_Time']).dt.minute

In [32]:
df['Duration_hour'] = df['Duration'].astype(int)
df['Duration_Minute'] = round((df['Duration'] - df['Duration'].astype(int))*60,0).astype(int)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Flight_ID           45000 non-null  object
 1   Airline             45000 non-null  int64
 2   Departure_City      45000 non-null  object
 3   Arrival_City        45000 non-null  object
 4   Distance            45000 non-null  float64
 5   Departure_Time      45000 non-null  object
 6   Arrival_Time        45000 non-null  object
 7   Duration            45000 non-null  float64
 8   Aircraft_Type       45000 non-null  int64
 9   Number_of_Stops     45000 non-null  int64
 10  Day_of_Week         45000 non-null  int64
 11  Month_of_Travel     45000 non-null  int64
 12  Holiday_Season      45000 non-null  int64
 13  Demand              45000 non-null  int64
 14  Weather_Conditions  45000 non-null  int64
 15  Passenger_Count     45000 non-null  int64
 16  Promotion_Type      45000 non-null  int64
 17  Fuel_Price          45000 non-null  float64
 18  Flight_Price        45000 non-null  float64
 19  DepartureHour       45000 non-null  int64
 20  DepartureMinute     45000 non-null  int64
 21  ArrivalHour         45000 non-null  int64
 22  ArrivalMinute       45000 non-null  int64
 23  Duration_hour       45000 non-null  int32
 24  Duration_Minute     45000 non-null  int32
dtypes: float64(4), int32(2), int64(14), object(5)
memory usage: 8.2+ MB

In [34]:
df.head()

,Flight_ID,Airline,Departure_City,Arrival_City,Distance,Departure_Time,Arrival_Time,Duration,Aircraft_Type,Number_of_Stops,Day_of_Week,Month_of_Travel,Holiday_Season,Demand,Weather_Conditions,Passenger_Count,Promotion_Type,Fuel_Price,Flight_Price,DepartureHour,DepartureMinute,ArrivalHour,ArrivalMinute,Duration_hour,Duration_Minute
0,F1,1,Unknown,Greenshire,8286.0,8:23,20:19,11.94,0,0,3,11,1,0,0,240,0,0.91,643.93,8,23,20,19,11,56
1,F2,2,Leonardland,New Stephen,2942.0,20:28,1:45,5.29,1,0,3,2,4,0,0,107,2,1.08,423.13,20,28,1,45,5,17
2,F3,1,South Dylanville,Port Ambermouth,2468.0,11:30,15:54,4.41,0,1,0,8,1,2,1,131,0,0.52,442.17,11,30,15,54,4,25
3,F4,3,Blakefort,Crosbyberg,3145.0,20:24,1:21,4.96,0,0,0,1,2,0,1,170,1,0.71,394.42,20,24,1,21,4,58
4,F5,1,Michaelport,Onealborough,5558.0,21:59,6:04,8.09,2,1,4,0,0,0,2,181,2,1.09,804.35,21,59,6,4,8,5

### IV. Feature Scaling

In [35]:
featured_df = df.drop(['Flight_ID','Departure_City','Arrival_City','Departure_Time','Arrival_Time'], axis=1)
featured_df.head()

,Airline,Distance,Duration,Aircraft_Type,Number_of_Stops,Day_of_Week,Month_of_Travel,Holiday_Season,Demand,Weather_Conditions,Passenger_Count,Promotion_Type,Fuel_Price,Flight_Price,DepartureHour,DepartureMinute,ArrivalHour,ArrivalMinute,Duration_hour,Duration_Minute
0,1,8286.0,11.94,0,0,3,11,1,0,0,240,0,0.91,643.93,8,23,20,19,11,56
1,2,2942.0,5.29,1,0,3,2,4,0,0,107,2,1.08,423.13,20,28,1,45,5,17
2,1,2468.0,4.41,0,1,0,8,1,2,1,131,0,0.52,442.17,11,30,15,54,4,25
3,3,3145.0,4.96,0,0,0,1,2,0,1,170,1,0.71,394.42,20,24,1,21,4,58
4,1,5558.0,8.09,2,1,4,0,0,0,2,181,2,1.09,804.35,21,59,6,4,8,5

In [36]:
from sklearn.preprocessing import StandardScaler

ss_scaling = StandardScaler()
df_ss_scaled = ss_scaling.fit_transform(featured_df.drop('Flight_Price', axis=1))
df_ss_scaled = pd.DataFrame(df_ss_scaled, columns = featured_df.drop('Flight_Price', axis=1).columns)
df_ss_scaled.head()

,Airline,Distance,Duration,Aircraft_Type,Number_of_Stops,Day_of_Week,Month_of_Travel,Holiday_Season,Demand,Weather_Conditions,Passenger_Count,Promotion_Type,Fuel_Price,DepartureHour,DepartureMinute,ArrivalHour,ArrivalMinute,Duration_hour,Duration_Minute
0,-0.165419,1.081622,1.241312,-1.414065,-0.886882,0.009250,1.591866,-0.706895,-0.673901,-1.342906,0.899119,-1.209361,0.296768,-0.502237,-0.377020,1.235196,-0.602745,1.102294,1.523301
1,0.884195,-0.979952,-0.778220,-0.707496,-0.886882,0.009250,-0.999729,1.412566,-0.673901,-1.342906,-0.938604,1.235824,1.140305,1.233306,-0.087381,-1.518171,0.902423,-0.714220,-0.727703
2,-0.165419,-1.162809,-1.045466,-1.414065,0.445440,-1.482644,0.728001,-0.706895,2.019310,-0.444320,-0.606985,-1.209361,-1.638404,-0.068352,0.028475,0.510626,1.423443,-1.016972,-0.265958
3,1.933810,-0.901640,-0.878437,-1.414065,-0.886882,-1.482644,-1.287684,-0.000408,-0.673901,-0.444320,-0.068104,0.013231,-0.695628,1.233306,-0.319092,-1.518171,-0.486963,-1.016972,1.638737
4,-0.165419,0.029232,0.072109,-0.000926,0.445440,0.506548,-1.575639,-1.413382,-0.673901,0.454265,0.083888,1.235824,1.189925,1.377935,1.708382,-0.793601,-1.471112,0.194037,-1.420319

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Flight_ID           45000 non-null  object
 1   Airline             45000 non-null  int64
 2   Departure_City      45000 non-null  object
 3   Arrival_City        45000 non-null  object
 4   Distance            45000 non-null  float64
 5   Departure_Time      45000 non-null  object
 6   Arrival_Time        45000 non-null  object
 7   Duration            45000 non-null  float64
 8   Aircraft_Type       45000 non-null  int64
 9   Number_of_Stops     45000 non-null  int64
 10  Day_of_Week         45000 non-null  int64
 11  Month_of_Travel     45000 non-null  int64
 12  Holiday_Season      45000 non-null  int64
 13  Demand              45000 non-null  int64
 14  Weather_Conditions  45000 non-null  int64
 15  Passenger_Count     45000 non-null  int64
 16  Promotion_Type      45000 non-null  int64
 17  Fuel_Price          45000 non-null  float64
 18  Flight_Price        45000 non-null  float64
 19  DepartureHour       45000 non-null  int64
 20  DepartureMinute     45000 non-null  int64
 21  ArrivalHour         45000 non-null  int64
 22  ArrivalMinute       45000 non-null  int64
 23  Duration_hour       45000 non-null  int32
 24  Duration_Minute     45000 non-null  int32
dtypes: float64(4), int32(2), int64(14), object(5)
memory usage: 8.2+ MB

In [38]:
df.head()

,Flight_ID,Airline,Departure_City,Arrival_City,Distance,Departure_Time,Arrival_Time,Duration,Aircraft_Type,Number_of_Stops,Day_of_Week,Month_of_Travel,Holiday_Season,Demand,Weather_Conditions,Passenger_Count,Promotion_Type,Fuel_Price,Flight_Price,DepartureHour,DepartureMinute,ArrivalHour,ArrivalMinute,Duration_hour,Duration_Minute
0,F1,1,Unknown,Greenshire,8286.0,8:23,20:19,11.94,0,0,3,11,1,0,0,240,0,0.91,643.93,8,23,20,19,11,56
1,F2,2,Leonardland,New Stephen,2942.0,20:28,1:45,5.29,1,0,3,2,4,0,0,107,2,1.08,423.13,20,28,1,45,5,17
2,F3,1,South Dylanville,Port Ambermouth,2468.0,11:30,15:54,4.41,0,1,0,8,1,2,1,131,0,0.52,442.17,11,30,15,54,4,25
3,F4,3,Blakefort,Crosbyberg,3145.0,20:24,1:21,4.96,0,0,0,1,2,0,1,170,1,0.71,394.42,20,24,1,21,4,58
4,F5,1,Michaelport,Onealborough,5558.0,21:59,6:04,8.09,2,1,4,0,0,0,2,181,2,1.09,804.35,21,59,6,4,8,5

### V. Train and Vlidation Split

In [39]:
from sklearn.model_selection import train_test_split

X = df_ss_scaled
Y = df['Flight_Price']

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.30, random_state=1234)
print(f'Shape of Training DataSet- X_train {X_train.shape} and X_test {X_test.shape}')
print(f'Shape of Training DataSet- Y_train {Y_train.shape} and Y_test {Y_test.shape}')

Shape of Training DataSet- X_train (31500, 19) and X_test (13500, 19)
Shape of Training DataSet- Y_train (31500,) and Y_test (13500,)

### VI. Linear Regression Model

In [40]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics

linear_regression = LinearRegression()
linear_regression.fit(X_train, Y_train)

y_predict_train = linear_regression.predict(X_train)

print(f'R2 Score for Training Dataset is {metrics.r2_score(Y_train,y_predict_train)}')
print(f'MSE for Training Dataset is {metrics.mean_absolute_error(Y_train, y_predict_train)}')
print(f'RMSE Score for Training Dataset is {np.sqrt(metrics.mean_squared_error(Y_train, y_predict_train))}')

y_predict_test = linear_regression.predict(X_test)

print(f'\n\nR2 Score for Test Dataset is {metrics.r2_score(Y_test,y_predict_test)}')
print(f'MSE for Test Dataset is {metrics.mean_absolute_error(Y_test, y_predict_test)}')
print(f'RMSE Score for Test Dataset is {np.sqrt(metrics.mean_squared_error(Y_test, y_predict_test))}')

R2 Score for Training Dataset is 0.9379343316689501
MSE for Training Dataset is 31.80397360697719
RMSE Score for Training Dataset is 39.843316245616705


R2 Score for Test Dataset is 0.9380023023333354
MSE for Test Dataset is 31.856441759783777
RMSE Score for Test Dataset is 40.07450014247593

In [41]:
pd.DataFrame(zip(linear_regression.coef_.T, X_train.columns))

             0                   1
0    -0.163576             Airline
1    68.442912            Distance
2   -52.626924            Duration
3    -0.141196       Aircraft_Type
4    34.510916     Number_of_Stops
5    -0.038753         Day_of_Week
6    -2.129713     Month_of_Travel
7    -0.079575      Holiday_Season
8    68.675460              Demand
9    -0.053368  Weather_Conditions
10   -0.092328     Passenger_Count
11    0.039379      Promotion_Type
12   56.143584          Fuel_Price
13   -0.314522       DepartureHour
14    0.134959     DepartureMinute
15    0.025422         ArrivalHour
16   -0.020742       ArrivalMinute
17  102.532249       Duration_hour
18    9.256175     Duration_Minute

### VI. Ridge Regression Model

In [42]:
from sklearn.linear_model import Ridge

ridge_regression = Ridge()
ridge_regression.fit(X_train,Y_train)

y_predict_ridge_train = ridge_regression.predict(X_train)
print(f'R2 Score for Training Dataset is {metrics.r2_score(Y_train,y_predict_ridge_train)}')
print(f'MSE for Training Dataset is {metrics.mean_absolute_error(Y_train, y_predict_ridge_train)}')
print(f'RMSE Score for Training Dataset is {np.sqrt(metrics.mean_squared_error(Y_train, y_predict_ridge_train))}')

y_predict_ridge_test = ridge_regression.predict(X_test)

print(f'\n\nR2 Score for Test Dataset is {metrics.r2_score(Y_test,y_predict_ridge_test)}')
print(f'MSE for Test Dataset is {metrics.mean_absolute_error(Y_test, y_predict_ridge_test)}')
print(f'RMSE Score for Test Dataset is {np.sqrt(metrics.mean_squared_error(Y_test, y_predict_ridge_test))}')

R2 Score for Training Dataset is 0.937933877933993
MSE for Training Dataset is 31.80372780417834
RMSE Score for Training Dataset is 39.84346188388047


R2 Score for Test Dataset is 0.937997540701051
MSE for Test Dataset is 31.858536775266792
RMSE Score for Test Dataset is 40.076039041314736

In [43]:
pd.DataFrame(zip(ridge_regression.coef_.T, X_train.columns))

            0                   1
0   -0.164681             Airline
1   68.392170            Distance
2   22.606598            Duration
3   -0.140749       Aircraft_Type
4   34.510474     Number_of_Stops
5   -0.039561         Day_of_Week
6   -2.127737     Month_of_Travel
7   -0.079130      Holiday_Season
8   68.673148              Demand
9   -0.053817  Weather_Conditions
10  -0.094160     Passenger_Count
11   0.039571      Promotion_Type
12  56.141601          Fuel_Price
13  -0.315074       DepartureHour
14   0.135847     DepartureMinute
15   0.024437         ArrivalHour
16  -0.021025       ArrivalMinute
17  27.116902       Duration_hour
18   2.662495     Duration_Minute

### VII. Lasso Regression Model

In [44]:
from sklearn.linear_model import Lasso

lasso_regression = Lasso()
lasso_regression.fit(X_train,Y_train)

y_predict_lasso_train = lasso_regression.predict(X_train)
print(f'R2 Score for Training Dataset is {metrics.r2_score(Y_train,y_predict_lasso_train)}')
print(f'MSE for Training Dataset is {metrics.mean_absolute_error(Y_train, y_predict_lasso_train)}')
print(f'RMSE Score for Training Dataset is {np.sqrt(metrics.mean_squared_error(Y_train, y_predict_lasso_train))}')

y_predict_lasso_test = lasso_regression.predict(X_test)

print(f'\n\nR2 Score for Test Dataset is {metrics.r2_score(Y_test,y_predict_lasso_test)}')
print(f'MSE for Test Dataset is {metrics.mean_absolute_error(Y_test, y_predict_lasso_test)}')
print(f'RMSE Score for Test Dataset is {np.sqrt(metrics.mean_squared_error(Y_test, y_predict_lasso_test))}')

R2 Score for Training Dataset is 0.9377387121974551
MSE for Training Dataset is 31.779044224989683
RMSE Score for Training Dataset is 39.90605621864488


R2 Score for Test Dataset is 0.9379376219174861
MSE for Test Dataset is 31.80588030171962
RMSE Score for Test Dataset is 40.09539898013547

### VIII ExtraTree Regressor

In [45]:
from sklearn.ensemble import ExtraTreesRegressor

extratree_regression = ExtraTreesRegressor()
extratree_regression.fit(X_train,Y_train)

y_predict_extratree_train = extratree_regression.predict(X_train)
print(f'R2 Score for Training Dataset is {metrics.r2_score(Y_train,y_predict_extratree_train)}')
print(f'MSE for Training Dataset is {metrics.mean_absolute_error(Y_train, y_predict_extratree_train)}')
print(f'RMSE Score for Training Dataset is {np.sqrt(metrics.mean_squared_error(Y_train, y_predict_extratree_train))}')

y_predict_extratree_test = extratree_regression.predict(X_test)

print(f'\n\nR2 Score for Test Dataset is {metrics.r2_score(Y_test,y_predict_extratree_test)}')
print(f'MSE for Test Dataset is {metrics.mean_absolute_error(Y_test, y_predict_extratree_test)}')
print(f'RMSE Score for Test Dataset is {np.sqrt(metrics.mean_squared_error(Y_test, y_predict_extratree_test))}')

R2 Score for Training Dataset is 1.0
MSE for Training Dataset is 6.98961114736333e-13
RMSE Score for Training Dataset is 8.328904777103816e-13


R2 Score for Test Dataset is 0.9615709915130264
MSE for Test Dataset is 25.234784274074073
RMSE Score for Test Dataset is 31.5507670933221

### IX. RandomForest Regressor

In [46]:
from sklearn.ensemble import RandomForestRegressor

randomforest_regression = RandomForestRegressor()
randomforest_regression.fit(X_train,Y_train)

y_predict_randomforest_train = randomforest_regression.predict(X_train)
print(f'R2 Score for Training Dataset is {metrics.r2_score(Y_train,y_predict_randomforest_train)}')
print(f'MSE for Training Dataset is {metrics.mean_absolute_error(Y_train, y_predict_randomforest_train)}')
print(f'RMSE Score for Training Dataset is {np.sqrt(metrics.mean_squared_error(Y_train, y_predict_randomforest_train))}')

y_predict_randomforest_test = randomforest_regression.predict(X_test)

print(f'\n\nR2 Score for Test Dataset is {metrics.r2_score(Y_test,y_predict_randomforest_test)}')
print(f'MSE for Test Dataset is {metrics.mean_absolute_error(Y_test, y_predict_randomforest_test)}')
print(f'RMSE Score for Test Dataset is {np.sqrt(metrics.mean_squared_error(Y_test, y_predict_randomforest_test))}')

R2 Score for Training Dataset is 0.9950950750615252
MSE for Training Dataset is 8.59409645079365
RMSE Score for Training Dataset is 11.200720064309667


R2 Score for Test Dataset is 0.9658682701094217
MSE for Test Dataset is 23.214943444444444
RMSE Score for Test Dataset is 29.73442078926921

### X. Voting Regressor

In [47]:
from sklearn.ensemble import VotingRegressor

reg_estimator = [('lr',linear_regression),('rid',ridge_regression),('lasso',lasso_regression), ('extra', extratree_regression), 
                 ('rf', randomforest_regression)]

voting_regressor = VotingRegressor(estimators=reg_estimator)
voting_regressor.fit(X_train, Y_train)

y_predict_voting_train = voting_regressor.predict(X_train)

print(f'R2 Score for Training Dataset is {metrics.r2_score(Y_train,y_predict_voting_train)}')
print(f'MSE for Training Dataset is {metrics.mean_absolute_error(Y_train, y_predict_voting_train)}')
print(f'RMSE Score for Training Dataset is {np.sqrt(metrics.mean_squared_error(Y_train, y_predict_voting_train))}')

y_predict_voting_test = voting_regressor.predict(X_test)

print(f'\n\nR2 Score for Test Dataset is {metrics.r2_score(Y_test,y_predict_voting_test)}')
print(f'MSE for Test Dataset is {metrics.mean_absolute_error(Y_test, y_predict_voting_test)}')
print(f'RMSE Score for Test Dataset is {np.sqrt(metrics.mean_squared_error(Y_test, y_predict_voting_test))}')

R2 Score for Training Dataset is 0.974088775679348
MSE for Training Dataset is 20.524688363525048
RMSE Score for Training Dataset is 25.74386370293915


R2 Score for Test Dataset is 0.9530563734715126
MSE for Test Dataset is 27.77484688912175
RMSE Score for Test Dataset is 34.87134122465355

### XI. KNN Regressor

In [48]:
from sklearn.neighbors import KNeighborsRegressor

knn_regressor = KNeighborsRegressor(n_neighbors= 17)
knn_regressor.fit(X_train, Y_train)

y_predict_knn_train = knn_regressor.predict(X_train)

print(f'R2 Score for Training Dataset is {metrics.r2_score(Y_train,y_predict_knn_train)}')
print(f'MSE for Training Dataset is {metrics.mean_absolute_error(Y_train, y_predict_knn_train)}')
print(f'RMSE Score for Training Dataset is {np.sqrt(metrics.mean_squared_error(Y_train, y_predict_knn_train))}')

y_predict_knn_test = knn_regressor.predict(X_test)

print(f'\n\nR2 Score for Test Dataset is {metrics.r2_score(Y_test,y_predict_knn_test)}')
print(f'MSE for Test Dataset is {metrics.mean_absolute_error(Y_test, y_predict_knn_test)}')
print(f'RMSE Score for Test Dataset is {np.sqrt(metrics.mean_squared_error(Y_test, y_predict_knn_test))}')

R2 Score for Training Dataset is 0.9049584121019165
MSE for Training Dataset is 38.554583753501404
RMSE Score for Training Dataset is 49.30450490959138


R2 Score for Test Dataset is 0.8952406145331251
MSE for Test Dataset is 40.99748213507625
RMSE Score for Test Dataset is 52.09269236179955

### XII. GridSearch RandomForest Regressor

In [53]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

param_grid = {
        'max_features': [3,5,7,9],
        'n_estimators': [25,30,35,40,45], # number of trees in the random forest
        'max_depth' : [5,7,10,15], # maximum number of levels allowed in each decision tree
        'min_samples_split' : [3,6,9,12], #,15,20,25,30, # minimum sample number to split a node
        'min_samples_leaf' : [10,12,15,18] # minimum sample number that can be stored in a leaf node
}

rf_tuned = RandomForestRegressor(random_state=123)

gs_rf = GridSearchCV(estimator = rf_tuned, 
                      param_grid = param_grid, 
                      cv = 3,
                      verbose = True,
                      n_jobs= -1
                      )

gs_rf.fit(X_train, Y_train)

Fitting 3 folds for each of 1280 candidates, totalling 3840 fits

GridSearchCV(cv=3, estimator=RandomForestRegressor(random_state=123), n_jobs=-1,
             param_grid={'max_depth': [5, 7, 10, 15],
                         'max_features': [3, 5, 7, 9],
                         'min_samples_leaf': [10, 12, 15, 18],
                         'min_samples_split': [3, 6, 9, 12],
                         'n_estimators': [25, 30, 35, 40, 45]},
             verbose=True)

In [55]:
gs_rf.best_estimator_

RandomForestRegressor(max_depth=15, max_features=9, min_samples_leaf=10,
                      min_samples_split=3, n_estimators=45, random_state=123)

In [54]:
y_predict_randomforest_train = gs_rf.predict(X_train)
print(f'R2 Score for Training Dataset is {metrics.r2_score(Y_train,y_predict_randomforest_train)}')
print(f'MSE for Training Dataset is {metrics.mean_absolute_error(Y_train, y_predict_randomforest_train)}')
print(f'RMSE Score for Training Dataset is {np.sqrt(metrics.mean_squared_error(Y_train, y_predict_randomforest_train))}')

y_predict_randomforest_test = gs_rf.predict(X_test)

print(f'\n\nR2 Score for Test Dataset is {metrics.r2_score(Y_test,y_predict_randomforest_test)}')
print(f'MSE for Test Dataset is {metrics.mean_absolute_error(Y_test, y_predict_randomforest_test)}')
print(f'RMSE Score for Test Dataset is {np.sqrt(metrics.mean_squared_error(Y_test, y_predict_randomforest_test))}')

R2 Score for Training Dataset is 0.9723817912278118
MSE for Training Dataset is 20.77483133732452
RMSE Score for Training Dataset is 26.578319297253064


R2 Score for Test Dataset is 0.9596240570382432
MSE for Test Dataset is 25.547784175762416
RMSE Score for Test Dataset is 32.340123358716525

## Treating Test data

In [56]:
df_test = pd.read_csv('test.csv')

In [57]:
df_test.head()

,Flight_ID,Airline,Departure_City,Arrival_City,Distance,Departure_Time,Arrival_Time,Duration,Aircraft_Type,Number_of_Stops,Day_of_Week,Month_of_Travel,Holiday_Season,Demand,Weather_Conditions,Passenger_Count,Promotion_Type,Fuel_Price
0,F45001,Airline B,Davidstad,Moorebury,3096.0,18:43,0:14,5.52,Boeing 737,1,Saturday,August,Summer,Medium,Clear,110,None,0.95
1,F45002,Airline A,Lake Tyler,Camachoberg,8760.0,1:16,13:04,11.80,Airbus A380,1,Thursday,April,None,High,Clear,295,Discount,1.05
2,F45003,Airline C,New Carol,West Ryanfurt,6365.0,12:17,21:52,9.59,Boeing 777,1,Sunday,January,None,Low,Rain,223,Discount,0.63
3,F45004,Airline A,Richardsonshire,Jordanburgh,7836.0,0:11,10:23,10.21,Airbus A380,0,Thursday,March,None,Low,Rain,223,None,0.88
4,F45005,Airline B,Tiffanytown,Morganstad,1129.0,3:22,5:13,1.86,Airbus A320,1,Saturday,August,Summer,High,Cloudy,145,Special Offer,1.11

In [58]:
df_test.tail()

,Flight_ID,Airline,Departure_City,Arrival_City,Distance,Departure_Time,Arrival_Time,Duration,Aircraft_Type,Number_of_Stops,Day_of_Week,Month_of_Travel,Holiday_Season,Demand,Weather_Conditions,Passenger_Count,Promotion_Type,Fuel_Price
4995,F49996,Airline B,Port Kristin,Jeffreyhaven,9389.0,22:41,11:02,12.35,Boeing 777,1,Tuesday,March,None,High,Cloudy,143,Special Offer,0.51
4996,F49997,NaN,NaN,Lake Christopherville,7718.0,11:20,22:53,11.55,Airbus A320,1,Friday,September,Spring,Low,Rain,55,Special Offer,0.50
4997,F49998,Airline C,Port Richard,Callahanmouth,2597.0,16:26,21:21,4.93,Airbus A380,1,Friday,September,Fall,Low,Snow,145,Discount,0.55
4998,F49999,Airline B,Perrymouth,South Zachary,4659.0,6:13,13:55,7.71,Airbus A380,1,Friday,August,Fall,High,Cloudy,163,Special Offer,0.79
4999,F50000,Airline C,Lake Scott,West Deborah,9124.0,19:07,7:22,12.26,Airbus A320,0,NaN,April,Winter,Low,Cloudy,75,None,0.51

In [59]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Flight_ID           5000 non-null   object
 1   Airline             4573 non-null   object
 2   Departure_City      4961 non-null   object
 3   Arrival_City        4970 non-null   object
 4   Distance            4991 non-null   float64
 5   Departure_Time      5000 non-null   object
 6   Arrival_Time        5000 non-null   object
 7   Duration            5000 non-null   float64
 8   Aircraft_Type       4992 non-null   object
 9   Number_of_Stops     5000 non-null   int64
 10  Day_of_Week         4975 non-null   object
 11  Month_of_Travel     4966 non-null   object
 12  Holiday_Season      5000 non-null   object
 13  Demand              4966 non-null   object
 14  Weather_Conditions  4951 non-null   object
 15  Passenger_Count     5000 non-null   int64
 16  Promotion_Type      4951 non-null   object
 17  Fuel_Price          4990 non-null   float64
dtypes: float64(3), int64(2), object(13)
memory usage: 703.2+ KB

### I. Exploratory Detail Analysis

In [60]:
df_test.isnull().sum()

Flight_ID               0
Airline               427
Departure_City         39
Arrival_City           30
Distance                9
Departure_Time          0
Arrival_Time            0
Duration                0
Aircraft_Type           8
Number_of_Stops         0
Day_of_Week            25
Month_of_Travel        34
Holiday_Season          0
Demand                 34
Weather_Conditions     49
Passenger_Count         0
Promotion_Type         49
Fuel_Price             10
dtype: int64

In [61]:
(df_test.isnull().sum()/df_test.shape[0]) * 100

Flight_ID             0.00
Airline               8.54
Departure_City        0.78
Arrival_City          0.60
Distance              0.18
Departure_Time        0.00
Arrival_Time          0.00
Duration              0.00
Aircraft_Type         0.16
Number_of_Stops       0.00
Day_of_Week           0.50
Month_of_Travel       0.68
Holiday_Season        0.00
Demand                0.68
Weather_Conditions    0.98
Passenger_Count       0.00
Promotion_Type        0.98
Fuel_Price            0.20
dtype: float64

In [62]:
df_test.describe()

,Distance,Duration,Number_of_Stops,Passenger_Count,Fuel_Price
count,4991.000000,5000.000000,5000.000000,5000.000000,4990.000000
mean,5460.673212,7.830462,0.667600,174.941200,0.851327
std,2615.795947,3.319984,0.740554,72.901245,0.203235
min,1000.000000,1.280000,0.000000,50.000000,0.500000
25%,3204.500000,4.970000,0.000000,111.000000,0.680000
50%,5487.000000,7.820000,1.000000,177.000000,0.850000
75%,7739.000000,10.650000,1.000000,238.000000,1.030000
max,10000.000000,14.480000,3.000000,300.000000,1.200000

In [63]:
print(df_test['Airline'].unique())
df_test['Airline'].value_counts()

['Airline B' 'Airline A' 'Airline C' nan]

Airline A    1551
Airline C    1532
Airline B    1490
Name: Airline, dtype: int64

In [64]:
df_test['Departure_City'].unique()

array(['Davidstad', 'Lake Tyler', 'New Carol', ..., 'West Timothymouth',
       'Port Richard', 'Perrymouth'], dtype=object)

In [65]:
df_test['Arrival_City'].unique()

array(['Moorebury', 'Camachoberg', 'West Ryanfurt', ..., 'Callahanmouth',
       'South Zachary', 'West Deborah'], dtype=object)

In [66]:
df_test['Distance'].unique()

array([3096., 8760., 6365., ..., 5880., 7718., 2597.])

In [67]:
df_test['Aircraft_Type'].unique()

array(['Boeing 737', 'Airbus A380', 'Boeing 777', 'Airbus A320',
       'Boeing 787', nan], dtype=object)

In [68]:
df_test['Day_of_Week'].unique()

array(['Saturday', 'Thursday', 'Sunday', nan, 'Monday', 'Wednesday',
       'Friday', 'Tuesday'], dtype=object)

In [69]:
df_test['Month_of_Travel'].unique()

array(['August', 'April', 'January', 'March', 'February', 'October',
       'May', 'June', 'July', 'December', 'September', 'November', nan],
      dtype=object)

In [70]:
print(df_test['Demand'].value_counts())
df_test['Demand'].unique()

Low       3270
Medium    1006
High       690
Name: Demand, dtype: int64

array(['Medium', 'High', 'Low', nan], dtype=object)

In [71]:
print(df_test['Weather_Conditions'].value_counts())
df_test['Weather_Conditions'].unique()

Clear     1277
Rain      1245
Cloudy    1218
Snow      1211
Name: Weather_Conditions, dtype: int64

array(['Clear', 'Rain', 'Cloudy', 'Snow', nan], dtype=object)

In [72]:
print(df_test['Promotion_Type'].value_counts())
df_test['Promotion_Type'].unique()

Special Offer    1666
Discount         1645
None             1640
Name: Promotion_Type, dtype: int64

array(['None', 'Discount', 'Special Offer', nan], dtype=object)

In [73]:
df_test['Holiday_Season'].unique()

array(['Summer', 'None', 'Spring', 'Fall', 'Winter'], dtype=object)

In [74]:
print(df_test['Fuel_Price'].unique())

[0.95 1.05 0.63 0.88 1.11 0.8  0.99 0.53 0.65 1.17 0.85 1.19 0.82 0.86
 0.98 0.75 0.57 0.7  0.9  1.07 1.13 0.58 0.66 0.72 0.62 1.   0.64 0.77
 0.69 0.68 1.18 1.16 0.67 0.91 0.52 0.55 0.56 1.08 0.92 1.02 1.04 1.09
 0.83 0.79 1.14 0.81 0.93 0.61 1.2  0.54 0.76 0.71 0.94 1.01 0.96 0.73
 1.15 0.51 1.03 0.89 0.97 0.5  0.78  nan 1.06 1.12 0.6  1.1  0.59 0.74
 0.87 0.84]

In [75]:
df_test['Number_of_Stops'].unique()

array([1, 0, 3], dtype=int64)

### II. Treating Missing Values

In [76]:
df_test.isnull().sum()

Flight_ID               0
Airline               427
Departure_City         39
Arrival_City           30
Distance                9
Departure_Time          0
Arrival_Time            0
Duration                0
Aircraft_Type           8
Number_of_Stops         0
Day_of_Week            25
Month_of_Travel        34
Holiday_Season          0
Demand                 34
Weather_Conditions     49
Passenger_Count         0
Promotion_Type         49
Fuel_Price             10
dtype: int64

In [77]:
df_test['Airline'] = df_test['Airline'].fillna('Unknown')
df_test['Aircraft_Type'] = df_test['Aircraft_Type'].fillna('Unknown')
df_test['Day_of_Week'] = df_test['Day_of_Week'].fillna(df_test['Day_of_Week'].mode()[0])
df_test['Month_of_Travel'] = df_test['Month_of_Travel'].fillna(df_test['Month_of_Travel'].mode()[0])
df_test['Demand'] = df_test['Demand'].fillna(df_test['Demand'].mode()[0])
df_test['Weather_Conditions'] = df_test['Weather_Conditions'].fillna(df_test['Weather_Conditions'].mode()[0])
df_test['Promotion_Type'] = df_test['Promotion_Type'].fillna(df_test['Promotion_Type'].mode()[0])

In [78]:
df_test['Departure_City'] = df_test['Departure_City'].fillna('Unknown')
df_test['Arrival_City'] = df_test['Arrival_City'].fillna('Unknown')

In [79]:
df_test['Distance'] = df_test['Distance'].fillna(round(df_test['Distance'].median(),1))
df_test['Fuel_Price'] = df_test['Fuel_Price'].fillna(round(df_test['Fuel_Price'].median(),2))

In [80]:
df_test.isnull().sum()

Flight_ID             0
Airline               0
Departure_City        0
Arrival_City          0
Distance              0
Departure_Time        0
Arrival_Time          0
Duration              0
Aircraft_Type         0
Number_of_Stops       0
Day_of_Week           0
Month_of_Travel       0
Holiday_Season        0
Demand                0
Weather_Conditions    0
Passenger_Count       0
Promotion_Type        0
Fuel_Price            0
dtype: int64

### III. Encoding Features

In [81]:
Airline_mapper = { 'Airline A': 0, 'Airline B': 1, 'Airline C': 2, 'Unknown': 3}

AircraftType_mapper = { 'Boeing 787': 0, 'Airbus A320': 1, 'Boeing 737': 2, 'Boeing 777': 3, 'Airbus A380': 4, 'Unknown': 5}

DayOfWeek_mapper = {'Wednesday':3, 'Sunday': 0, 'Thursday': 4, 'Tuesday': 2, 'Friday': 5, 'Monday': 1, 'Saturday': 6}

MonthOfTravel_mapper = {'December': 11, 'March': 2, 'September': 8, 'February': 1, 'January': 0, 'May': 4, 'June': 5, 
                        'July': 6, 'August': 7, 'April': 3, 'October': 9, 'November': 10}

Demand_mapper = {'Low': 0, 'High': 2, 'Medium': 1}

Weather_mapper = {'Rain': 0, 'Cloudy': 1, 'Clear': 2, 'Snow': 3}

PromotionType_mapper = {'Special Offer': 0, 'None': 2, 'Discount': 1}

HolidaySeason_mapper = {'Summer': 1, 'Spring' :4, 'Fall': 2, 'None': 0, 'Winter': 3}

In [82]:
df_test['Promotion_Type'] = df_test['Promotion_Type'].replace(PromotionType_mapper)
df_test['Weather_Conditions'] = df_test['Weather_Conditions'].replace(Weather_mapper)
df_test['Demand'] = df_test['Demand'].replace(Demand_mapper)
df_test['Month_of_Travel'] = df_test['Month_of_Travel'].replace(MonthOfTravel_mapper)
df_test['Day_of_Week'] = df_test['Day_of_Week'].replace(DayOfWeek_mapper)
df_test['Aircraft_Type'] = df_test['Aircraft_Type'].replace(AircraftType_mapper)
df_test['Airline'] = df_test['Airline'].replace(Airline_mapper)
df_test['Holiday_Season'] = df_test['Holiday_Season'].replace(HolidaySeason_mapper)

### III. Feature Engineering

In [83]:
from datetime import datetime
df_test['DepartureHour'] = pd.to_datetime(df_test['Departure_Time']).dt.hour
df_test['DepartureMinute'] = pd.to_datetime(df_test['Departure_Time']).dt.minute

In [84]:
from datetime import datetime
df_test['ArrivalHour'] = pd.to_datetime(df_test['Arrival_Time']).dt.hour
df_test['ArrivalMinute'] = pd.to_datetime(df_test['Arrival_Time']).dt.minute

In [85]:
df_test['Duration_hour'] = df_test['Duration'].astype(int)
df_test['Duration_Minute'] = round((df_test['Duration'] - df_test['Duration'].astype(int))*60,0).astype(int)

In [86]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Flight_ID           5000 non-null   object
 1   Airline             5000 non-null   int64
 2   Departure_City      5000 non-null   object
 3   Arrival_City        5000 non-null   object
 4   Distance            5000 non-null   float64
 5   Departure_Time      5000 non-null   object
 6   Arrival_Time        5000 non-null   object
 7   Duration            5000 non-null   float64
 8   Aircraft_Type       5000 non-null   int64
 9   Number_of_Stops     5000 non-null   int64
 10  Day_of_Week         5000 non-null   int64
 11  Month_of_Travel     5000 non-null   int64
 12  Holiday_Season      5000 non-null   int64
 13  Demand              5000 non-null   int64
 14  Weather_Conditions  5000 non-null   int64
 15  Passenger_Count     5000 non-null   int64
 16  Promotion_Type      5000 non-null   int64
 17  Fuel_Price          5000 non-null   float64
 18  DepartureHour       5000 non-null   int64
 19  DepartureMinute     5000 non-null   int64
 20  ArrivalHour         5000 non-null   int64
 21  ArrivalMinute       5000 non-null   int64
 22  Duration_hour       5000 non-null   int32
 23  Duration_Minute     5000 non-null   int32
dtypes: float64(3), int32(2), int64(14), object(5)
memory usage: 898.6+ KB

In [87]:
df_test.head()

,Flight_ID,Airline,Departure_City,Arrival_City,Distance,Departure_Time,Arrival_Time,Duration,Aircraft_Type,Number_of_Stops,Day_of_Week,Month_of_Travel,Holiday_Season,Demand,Weather_Conditions,Passenger_Count,Promotion_Type,Fuel_Price,DepartureHour,DepartureMinute,ArrivalHour,ArrivalMinute,Duration_hour,Duration_Minute
0,F45001,1,Davidstad,Moorebury,3096.0,18:43,0:14,5.52,2,1,6,7,1,1,2,110,2,0.95,18,43,0,14,5,31
1,F45002,0,Lake Tyler,Camachoberg,8760.0,1:16,13:04,11.80,4,1,4,3,0,2,2,295,1,1.05,1,16,13,4,11,48
2,F45003,2,New Carol,West Ryanfurt,6365.0,12:17,21:52,9.59,3,1,0,0,0,0,0,223,1,0.63,12,17,21,52,9,35
3,F45004,0,Richardsonshire,Jordanburgh,7836.0,0:11,10:23,10.21,4,0,4,2,0,0,0,223,2,0.88,0,11,10,23,10,13
4,F45005,1,Tiffanytown,Morganstad,1129.0,3:22,5:13,1.86,1,1,6,7,1,2,1,145,0,1.11,3,22,5,13,1,52

In [88]:
df_test_final = df_test.drop(['Flight_ID','Departure_City','Arrival_City','Departure_Time','Arrival_Time'], axis=1)

In [89]:
df_test_final.head()

,Airline,Distance,Duration,Aircraft_Type,Number_of_Stops,Day_of_Week,Month_of_Travel,Holiday_Season,Demand,Weather_Conditions,Passenger_Count,Promotion_Type,Fuel_Price,DepartureHour,DepartureMinute,ArrivalHour,ArrivalMinute,Duration_hour,Duration_Minute
0,1,3096.0,5.52,2,1,6,7,1,1,2,110,2,0.95,18,43,0,14,5,31
1,0,8760.0,11.80,4,1,4,3,0,2,2,295,1,1.05,1,16,13,4,11,48
2,2,6365.0,9.59,3,1,0,0,0,0,0,223,1,0.63,12,17,21,52,9,35
3,0,7836.0,10.21,4,0,4,2,0,0,0,223,2,0.88,0,11,10,23,10,13
4,1,1129.0,1.86,1,1,6,7,1,2,1,145,0,1.11,3,22,5,13,1,52

In [90]:
df_test_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Airline             5000 non-null   int64
 1   Distance            5000 non-null   float64
 2   Duration            5000 non-null   float64
 3   Aircraft_Type       5000 non-null   int64
 4   Number_of_Stops     5000 non-null   int64
 5   Day_of_Week         5000 non-null   int64
 6   Month_of_Travel     5000 non-null   int64
 7   Holiday_Season      5000 non-null   int64
 8   Demand              5000 non-null   int64
 9   Weather_Conditions  5000 non-null   int64
 10  Passenger_Count     5000 non-null   int64
 11  Promotion_Type      5000 non-null   int64
 12  Fuel_Price          5000 non-null   float64
 13  DepartureHour       5000 non-null   int64
 14  DepartureMinute     5000 non-null   int64
 15  ArrivalHour         5000 non-null   int64
 16  ArrivalMinute       5000 non-null   int64
 17  Duration_hour       5000 non-null   int32
 18  Duration_Minute     5000 non-null   int32
dtypes: float64(3), int32(2), int64(14)
memory usage: 703.2 KB

### IV. Feature Scaling

In [91]:
# df_test_final = df_test.drop(['Flight_ID','Departure_City','Arrival_City','Departure_Time','Arrival_Time'], axis=1)
df_test_final.head()

,Airline,Distance,Duration,Aircraft_Type,Number_of_Stops,Day_of_Week,Month_of_Travel,Holiday_Season,Demand,Weather_Conditions,Passenger_Count,Promotion_Type,Fuel_Price,DepartureHour,DepartureMinute,ArrivalHour,ArrivalMinute,Duration_hour,Duration_Minute
0,1,3096.0,5.52,2,1,6,7,1,1,2,110,2,0.95,18,43,0,14,5,31
1,0,8760.0,11.80,4,1,4,3,0,2,2,295,1,1.05,1,16,13,4,11,48
2,2,6365.0,9.59,3,1,0,0,0,0,0,223,1,0.63,12,17,21,52,9,35
3,0,7836.0,10.21,4,0,4,2,0,0,0,223,2,0.88,0,11,10,23,10,13
4,1,1129.0,1.86,1,1,6,7,1,2,1,145,0,1.11,3,22,5,13,1,52

In [93]:
from sklearn.preprocessing import StandardScaler

ss_scaling = StandardScaler()
df_ss_scaled = ss_scaling.fit_transform(df_test_final)
df_ss_scaled = pd.DataFrame(df_ss_scaled, columns = df_test_final.columns)
df_ss_scaled.head()

,Airline,Distance,Duration,Aircraft_Type,Number_of_Stops,Day_of_Week,Month_of_Travel,Holiday_Season,Demand,Weather_Conditions,Passenger_Count,Promotion_Type,Fuel_Price,DepartureHour,DepartureMinute,ArrivalHour,ArrivalMinute,Duration_hour,Duration_Minute
0,-0.173142,-0.904921,-0.695995,0.002134,0.448898,1.500666,0.407781,-0.718005,0.721203,0.449855,-0.890900,1.239303,0.486062,0.936846,0.780279,-1.641113,-0.907660,-0.700588,0.078564
1,-1.209920,1.262554,1.195769,1.424841,0.448898,0.513581,-0.752171,-1.425399,2.100703,0.449855,1.647034,0.018315,0.978645,-1.517294,-0.775691,0.248063,-1.481394,1.098560,1.061767
2,0.863636,0.346046,0.530037,0.713488,0.448898,-1.460591,-1.622134,-1.425399,-0.658298,-1.351728,0.659297,0.018315,-1.090205,0.070679,-0.718063,1.410634,1.272532,0.498844,0.309906
3,-1.209920,0.908962,0.716803,1.424841,-0.901578,0.513581,-1.042158,-1.425399,-0.658298,-1.351728,0.659297,1.239303,0.141253,-1.661655,-1.063834,-0.187900,-0.391298,0.798702,-0.962475
4,-0.173142,-1.657644,-1.798520,-0.709220,0.448898,1.500666,0.407781,-0.718005,2.100703,-0.450936,-0.410750,-1.202674,1.274195,-1.228571,-0.429920,-0.914507,-0.965033,-1.900020,1.293109

In [94]:
df_test_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Airline             5000 non-null   int64
 1   Distance            5000 non-null   float64
 2   Duration            5000 non-null   float64
 3   Aircraft_Type       5000 non-null   int64
 4   Number_of_Stops     5000 non-null   int64
 5   Day_of_Week         5000 non-null   int64
 6   Month_of_Travel     5000 non-null   int64
 7   Holiday_Season      5000 non-null   int64
 8   Demand              5000 non-null   int64
 9   Weather_Conditions  5000 non-null   int64
 10  Passenger_Count     5000 non-null   int64
 11  Promotion_Type      5000 non-null   int64
 12  Fuel_Price          5000 non-null   float64
 13  DepartureHour       5000 non-null   int64
 14  DepartureMinute     5000 non-null   int64
 15  ArrivalHour         5000 non-null   int64
 16  ArrivalMinute       5000 non-null   int64
 17  Duration_hour       5000 non-null   int32
 18  Duration_Minute     5000 non-null   int32
dtypes: float64(3), int32(2), int64(14)
memory usage: 703.2 KB

In [95]:
df_ss_scaled.head()

,Airline,Distance,Duration,Aircraft_Type,Number_of_Stops,Day_of_Week,Month_of_Travel,Holiday_Season,Demand,Weather_Conditions,Passenger_Count,Promotion_Type,Fuel_Price,DepartureHour,DepartureMinute,ArrivalHour,ArrivalMinute,Duration_hour,Duration_Minute
0,-0.173142,-0.904921,-0.695995,0.002134,0.448898,1.500666,0.407781,-0.718005,0.721203,0.449855,-0.890900,1.239303,0.486062,0.936846,0.780279,-1.641113,-0.907660,-0.700588,0.078564
1,-1.209920,1.262554,1.195769,1.424841,0.448898,0.513581,-0.752171,-1.425399,2.100703,0.449855,1.647034,0.018315,0.978645,-1.517294,-0.775691,0.248063,-1.481394,1.098560,1.061767
2,0.863636,0.346046,0.530037,0.713488,0.448898,-1.460591,-1.622134,-1.425399,-0.658298,-1.351728,0.659297,0.018315,-1.090205,0.070679,-0.718063,1.410634,1.272532,0.498844,0.309906
3,-1.209920,0.908962,0.716803,1.424841,-0.901578,0.513581,-1.042158,-1.425399,-0.658298,-1.351728,0.659297,1.239303,0.141253,-1.661655,-1.063834,-0.187900,-0.391298,0.798702,-0.962475
4,-0.173142,-1.657644,-1.798520,-0.709220,0.448898,1.500666,0.407781,-0.718005,2.100703,-0.450936,-0.410750,-1.202674,1.274195,-1.228571,-0.429920,-0.914507,-0.965033,-1.900020,1.293109

In [96]:
X_test_prediction_set = df_ss_scaled
y_predict_set = gs_rf.predict(X_test_prediction_set)

In [98]:
data = {
    'Flight_ID':list(df_test['Flight_ID']),
    'Flight_Price':list(y_predict_set)
}

df_prediction_01 = pd.DataFrame(data)
df_prediction_01.to_csv('submission-scaled.csv', index=False)